section.slider
   .slide
      .slide-circle.slide-circle_wrap
         .slide-circle.slide-circle_inner
            h1.slide_title
               | Hello!
               br
               | we are
               br
               | master
      p.slide-nav services
         br
         a.slide-nav_arrow(href="#")
            i.icon-arrow-down
      h1.slide-txt.slide-txt_left    
         | We
         br
         | Design 
         br
         | Perfection
      h1.slide-txt.slide-txt_right   
         |Completly
         br
         |Customisible
   .slide
      .slide-circle.slide-circle_wrap
         .slide-circle.slide-circle_inner
            h1.slide_title 
               | Hello!
               br
               | we are
               br
               | master
      p.slide-nav services
         br
         a.slide-nav_arrow(href="#")
            i.icon-arrow-down
            