doctype html
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title Portfolio
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/simple-line-icons/css/simple-line-icons.css")
      link(rel="stylesheet", type="text/css", href="plugins/slick/slick.css")
      link(rel="stylesheet", type="text/css", href="plugins/slick/slick-theme.css")
      link(rel="stylesheet", href="css/main.css")
      link(rel="stylesheet", href="css/animate.css")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      
   body
      include _slider-section
      include _header
      include _home
      script(src="plugins/slick/slick.min.js")
      script(src="js/common.js")
      script(src="js/slick-custom.js")
   
      
      